<main class="flex align-items-center justify-content-between">
  <div
    class="shadow-2 w-full h-full lg:w-12 border-round flex align-items-center flex-column justify-content-center relative"
  >
    <div class="text-center mb-5">
      <img
        ngSrc="assets/brand/mvp-logo.svg"
        alt="Image"
        height="50"
        width="50"
        class="mb-3"
      />
      <div class="text-3xl font-medium mb-3">
        Entrar no
        <strong class="text-green-300">Oasis</strong>
      </div>
      <span class="font-medium line-height-3">Não tem uma conta?</span>
      <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer"
        >Crie agora!</a
      >
    </div>

    <div class="w-6">
      <label for="email1" class="block font-medium mb-2">Email</label>
      <input
        id="email1"
        type="text"
        placeholder="E-mail"
        pInputText
        class="bg-gray-900 w-full mb-3"
      />

      <label for="password1" class="block font-medium mb-2">Senha</label>
      <input
        id="password1"
        type="password"
        placeholder="Senha"
        pInputText
        class="bg-gray-900 w-full mb-3"
      />

      <div class="flex align-items-center justify-content-between mb-6">
        <div class="flex align-items-center">
          <p-checkbox
            id="rememberme"
            [binary]="true"
            styleClass="mr-2"
            label="Lembrar de mim"
          ></p-checkbox>
        </div>
        <a
          class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer"
          >Esqueci minha senha</a
        >
      </div>

      <p-button
        label="Entrar"
        [loading]="loading"
        (onClick)="load()"
        icon="pi pi-check"
      ></p-button>

      <footer class="footer">
        <div class="text-center">
          <span class="text-400 text-xs">
            © {{ currentDate }} Todos os direitos reservados.
          </span>
        </div>
      </footer>
    </div>
  </div>
  <img
    ngSrc="assets/auth/sign-in/enterprise-woman.jpg"
    alt="Image"
    width="1"
    height="1"
    class="hidden lg:block w-4 w-full h-full enterprise-woman"
  />
</main>
